<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>
<body>
    <h1 style="margin-top:200px;margin-left:46%;margin-right:0%;">用户输入</h1>
            <form method='POST' action="/login/" enctype="multipart/form-data" >
    <div style="font-size:20px;font-family:黑体;margin-left:42%;margin-right:0%;">
        <span>
            账号:
        </span>
            <input style="width:150px;height:20px"   type="text" name = "user_id"/>
            <a style="color:#F00;font-size:10px;">{{ error1 }}</a>
        <br/>
        <br/>
        <span>
            密码:
        </span>
            <input style="width:150px;height:20px" type="password" name = "pass_word"/>
            <a style="color:#F00;font-size:10px;">{{ error2 }}</a>
    </div>
                <div style="font-size:24px;font-family: Arial;margin-left:45%;margin-right:0%;">
{#        { % csrf_token % }#}
{#        {{ uf.as_p }}#}
        <input type="submit" value="登录"/>
                    &nbsp &nbsp &nbsp &nbsp &nbsp
        <input type="button"  value="注册" onclick="javascrtpt:window.location.href='/registered_page'" />

    </div>
        </form>

{#    <script src="/static/scripts/jquery.min.js"></script>#}
</body>
</html>